.transition-inherit {
    transition-property: inherit;
    transition-duration: inherit;
}

.transition-initial {
    transition-property: initial;
    transition-duration: initial;
}

.transition-all {
    transition-property: all;
}

.transition-none {
    transition-property: none;
}

.transition-width {
    transition-property: width;
}

.transition-1 {
    transition-duration: 1s;
}

.transition-2 {
    transition-duration: 2s;
}

.transition-3 {
    transition-duration: 3s;
}

.transition-5 {
    transition-duration: 5s;
}

.transition-7 {
    transition-duration: 7s;
}

.transition-10 {
    transition-duration: 10s;
}

.delay {
    transition-delay: 1s;
}

.delay-2 {
    transition-delay: 2s;
}

.delay-3 {
    transition-delay: 3s;
}

.delay-5 {
    transition-delay: 5s;
}

.delay-7 {
    transition-delay: 7s;
}

.delay-10 {
    transition-delay: 10s;
}



.timing-initial {
    transition-timing-function: initial;
}

.timing-inherit {
    transition-timing-function: inherit;
}

.linear {
    transition-timing-function: linear;
}

.ease {
    transition-timing-function: ease;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.start,
.start-1 {
    transition-timing-function: steps(1, start);
}

.end,
.end-1 {
    transition-timing-function: steps(1, end);
}

.start-2 {
    transition-timing-function: steps(2, start);
}

.end-2 {
    transition-timing-function: steps(2, end);
}

.start-3 {
    transition-timing-function: steps(3, start);
}

.end-3 {
    transition-timing-function: steps(3, end);
}

.start-5 {
    transition-timing-function: steps(5, start);
}

.end-5 {
    transition-duration: steps(5, end);
}




.animation-duration-initial {
    animation-duration: initial;
}

.animation-duration-inherit {
    animation-duration: inherit;
}

.animation-duration-1 {
    animation-duration: 1s;
}

.animation-duration-2 {
    animation-duration: 2s;
}

.animation-duration-3 {
    animation-duration: 3s;
}

.animation-duration-5 {
    animation-duration: 5s;
}

.animation-duration-7 {
    animation-duration: 7s;
}

.animation-duration-10 {
    animation-duration: 10s;
}


.animation-delay-initial {
    animation-delay: initial;
}

.animation-delay-inherit {
    animation-delay: inherit;
}

.animation-delay-1 {
    animation-delay: 1s;
}

.animation-delay-2 {
    animation-delay: 2s;
}

.animation-delay-3 {
    animation-delay: 3s;
}

.animation-delay-5 {
    animation-delay: 5s;
}

.animation-delay-7 {
    animation-delay: 7s;
}

.animation-delay-10 {
    animation-delay: 10s;
}


.iteration-infinite {
    animation-iteration-count: infinite;
}

.iteration-initial {
    animation-iteration-count: initial;
}

.iteration-inherit {
    animation-iteration-count: inherit;
}

.iteration-1 {
    animation-iteration-count: 1;
}

.iteration-2 {
    animation-iteration-count: 2;
}

.iteration-3 {
    animation-iteration-count: 3;
}

.iteration-5 {
    animation-iteration-count: 5;
}

.iteration-7 {
    animation-iteration-count: 7;
}

.iteration-10 {
    animation-iteration-count: 10;
}



.animation-alternate {
    animation-direction: alternate;
}

.animation-normal {
    animation-direction: normal;
}

.animation-alternate-reverse {
    animation-direction: alternate-reverse;
}

.animation-reverse {
    animation-direction: reverse;
}

.animation-direction-inherit {
    animation-direction: inherit;
}

.animation-direction-initial {
    animation-direction: initial;
}