.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.grid {
    display: grid;
}

.none {
    display: none;
}

.unset {
    display: unset;
}


.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}


.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-stretch {
    align-items: stretch;
}

.items-baseline {
    align-items: baseline;
}



.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}



.grid-col-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}



.grid-rows-1 {
    grid-template-rows: repeat(1, 1fr);
}

.grid-rows-2 {
    grid-template-rows: repeat(2, 1fr);
}

.grid-rows-3 {
    grid-template-rows: repeat(3, 1fr);
}

.grid-rows-4 {
    grid-template-rows: repeat(4, 1fr);
}

.grid-rows-5 {
    grid-template-rows: repeat(5, 1fr);
}

.grid-rows-6 {
    grid-template-rows: repeat(6, 1fr);
}

.grid-rows-7 {
    grid-template-rows: repeat(7, 1fr);
}

.grid-rows-8 {
    grid-template-rows: repeat(8, 1fr);
}


.w-1 {
    width: 10%;
}

.w-2 {
    width: 20%;
}

.w-3 {
    width: 30%;
}

.w-4 {
    width: 40%;
}

.w-5 {
    width: 50%;
}

.w-6 {
    width: 60%;
}

.w-7 {
    width: 70%;
}

.w-8 {
    width: 80%;
}

.w-9 {
    width: 90%;
}

.w-full {
    width: 100%;
}

.w-auto {
    width: auto;
}

.w-screen {
    width: 100vw;
}

.max-w-sm {
    max-width: 600px;
}

.max-w-md {
    max-width: 725px;
}

.max-w-lg {
    max-width: 1200px;
}

.max-w-xl {
    max-width: 1450px;
}


.h-full {
    height: 100%;
}

.h-auto {
    height: auto;
}

.h-screen {
    height: 100vh;
}

.min-h-screen {
    min-height: 100vh;
}

.h-1 {
    height: 10%;
}

.h-2 {
    height: 20%;
}

.h-3 {
    height: 30%;
}

.h-4 {
    height: 40%;
}

.h-5 {
    height: 50%;
}

.h-6 {
    height: 60%;
}

.h-7 {
    height: 70%;
}

.h-8 {
    height: 80%;
}

.h-9 {
    height: 90%;
}

.h-10 {
    height: 100%;
}



.rounded-sm {
    border-radius: var(--radius-sm);
}

.rounded-md {
    border-radius: var(--radius-md);
}

.rounded-lg {
    border-radius: var(--radius-lg);
}

.rounded-xl {
    border-radius: var(--rounded-xl);
}

.rounded-full {
    border-radius: var(--rounded-full);
}

.rounded {
    border-radius: var(--rounded);
}



.border {
    border-width: 1px;
    border-style: solid;
}

.border-1 {
    border-width: var(--space-1);
}

.border-2 {
    border-width: var(--space-2);
}

.border-3 {
    border-width: var(--space-3);
}

.border-4 {
    border-width: var(--space-4);
}

.border-5 {
    border-width: var(--space-5);
}

.border-6 {
    border-width: var(--space-6);
}

.border-7 {
    border-width: var(--space-7);
}

.border-8 {
    border-width: var(--space-8);
}




.border-solid {
    border-style: solid;
}

.border-dotted {
    border-style: dotted;
}

.border-double {
    border-style: double;
}

.border-dashed {
    border-style: dashed;
}

.border-none {
    border-style: none;
}

.border-hidden {
    border-style: hidden;
}

.border-groove {
    border-style: groove;
}

.border-ridge {
    border-style: ridge;
}

.border-outset {
    border-style: outset;
}

.border-inset {
    border-style: inset;
}


.border-top {
    border-top-width: 1px;
    border-top-style: solid;
}

.border-top-solid {
    border-top-style: solid;
}

.border-top-dotted {
    border-top-style: dotted;
}

.border-top-double {
    border-top-style: double;
}

.border-top-dashed {
    border-top-style: dashed;
}

.border-top-none {
    border-top-style: none;
}

.border-top-hidden {
    border-top-style: hidden;
}

.border-top-groove {
    border-style: groove;
}

.border-top-ridge {
    border-top-style: ridge;
}

.border-top-outset {
    border-top-style: outset;
}

.border-top-inset {
    border-top-style: inset;
}

.border-top-1 {
    border-top-width: var(--space-1);
}

.border-top-2 {
    border-top-width: var(--space-2);
}

.border-top-3 {
    border-top-width: var(--space-3);
}

.border-top-4 {
    border-top-width: var(--space-4);
}

.border-top-5 {
    border-top-width: var(--space-5);
}

.border-top-6 {
    border-top-width: var(--space-6);
}

.border-top-7 {
    border-top-width: var(--space-7);
}

.border-top-8 {
    border-top-width: var(--space-8);
}


.border-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.border-bottom-solid {
    border-bottom-style: solid;
}

.border-bottom-dotted {
    border-bottom-style: dotted;
}

.border-bottom-double {
    border-bottom-style: double;
}

.border-bottom-dashed {
    border-bottom-style: dashed;
}

.border-bottom-none {
    border-bottom-style: none;
}

.border-bottom-hidden {
    border-bottom-style: hidden;
}

.border-bottom-groove {
    border-bottom-style: groove;
}

.border-bottom-ridge {
    border-bottom-style: ridge;
}

.border-bottom-outset {
    border-bottom-style: outset;
}

.border-bottom-inset {
    border-bottom-style: inset;
}

.border-bottom-1 {
    border-bottom-width: var(--space-1);
}

.border-bottom-2 {
    border-bottom-width: var(--space-2);
}

.border-bottom-3 {
    border-bottom-width: var(--space-3);
}

.border-bottom-4 {
    border-bottom-width: var(--space-4);
}

.border-bottom-5 {
    border-bottom-width: var(--space-5);
}

.border-bottom-6 {
    border-bottom-width: var(--space-6);
}

.border-bottom-7 {
    border-bottom-width: var(--space-7);
}

.border-bottom-8 {
    border-bottom-width: var(--space-8);
}



.border-left {
    border-left: 1px;
    border-left-style: solid;
}

.border-left-solid {
    border-left-style: solid;
}

.border-left-dotted {
    border-left-style: dotted;
}

.border-left-double {
    border-left-style: double;
}

.border-left-dashed {
    border-left-style: dashed;
}

.border-left-none {
    border-left-style: none;
}

.border-left-hidden {
    border-left-style: hidden;
}

.border-left-groove {
    border-left-style: groove;
}

.border-left-ridge {
    border-left-style: ridge;
}

.border-left-outset {
    border-left-style: outset;
}

.border-left-inset {
    border-left-style: inset;
}

.border-left-1 {
    border-left-width: var(--space-1);
}

.border-left-2 {
    border-left-width: var(--space-2);
}

.border-left-3 {
    border-left-width: var(--space-3);
}

.border-left-4 {
    border-left-width: var(--space-4);
}

.border-left-5 {
    border-left-width: var(--space-5);
}

.border-left-6 {
    border-left-width: var(--space-6);
}

.border-left-7 {
    border-left-width: var(--space-7);
}

.border-left-8 {
    border-left-width: var(--space-8);
}


.border-right {
    border-right: 1px;
    border-right-style: solid;
}

.border-right-solid {
    border-right-style: solid;
}

.border-right-dotted {
    border-right-style: dotted;
}

.border-right-double {
    border-right-style: double;
}

.border-right-dashed {
    border-right-style: dashed;
}

.border-right-none {
    border-right-style: none;
}

.border-right-hidden {
    border-right-style: hidden;
}

.border-right-groove {
    border-right-style: groove;
}

.border-right-ridge {
    border-right-style: ridge;
}

.border-right-outset {
    border-right-style: outset;
}

.border-right-inset {
    border-right-style: inset;
}

.border-right-1 {
    border-right-width: var(--space-1);
}

.border-right-2 {
    border-right-width: var(--space-2);
}

.border-right-3 {
    border-right-width: var(--space-3);
}

.border-right-4 {
    border-right-width: var(--space-4);
}

.border-right-5 {
    border-right-width: var(--space-5);
}

.border-right-6 {
    border-right-width: var(--space-6);
}

.border-right-7 {
    border-right-width: var(--space-7);
}

.border-right-8 {
    border-right-width: var(--space-8);
}


.border-x {
    border-right: 1px;
    border-left: 1px;
    border-left-style: solid;
    border-right-style: solid;
}

.border-x-solid {
    border-left-style: solid;
    border-right-style: solid;
}

.border-x-dotted {
    border-left-style: dotted;
    border-right-style: dotted;
}

.border-x-dashed {
    border-left-style: dashed;
    border-right-style: dashed;
}

.border-x-double {
    border-left-style: double;
    border-right-style: double;
}

.border-x-inset {
    border-left-style: inset;
    border-right-style: inset;
}

.border-x-outset {
    border-left-style: outset;
    border-right-style: outset;
}

.border-x-hidden {
    border-left-style: hidden;
    border-right-style: hidden;
}

.border-x-groove {
    border-left-style: groove;
    border-right-style: groove;
}

.border-x-ridge {
    border-left-style: ridge;
    border-right-style: ridge;
}

.border-x-none {
    border-left-style: none;
    border-right-style: none;
}

.border-x-hidden {
    border-left-style: hidden;
    border-right-style: hidden;
}

.border-x-1 {
    border-right-width: var(--space-1);
    border-left-width: var(--space-1);
}

.border-x-2 {
    border-right-width: var(--space-2);
    border-left-width: var(--space-2);
}

.border-x-3 {
    border-right-width: var(--space-3);
    border-left-width: var(--space-3);
}

.border-x-4 {
    border-right-width: var(--space-4);
    border-left-width: var(--space-4);
}

.border-x-5 {
    border-right-width: var(--space-5);
    border-left-width: var(--space-5);
}

.border-x-6 {
    border-right-width: var(--space-6);
    border-left-width: var(--space-6);
}

.border-x-7 {
    border-right-width: var(--space-7);
    border-left-width: var(--space-7);
}

.border-x-8 {
    border-right-width: var(--space-8);
    border-left-width: var(--space-8);
}



.border-y {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
}

.border-y-solid {
    border-top-style: solid;
    border-bottom-style: solid;
}

.border-y-none {
    border-top-style: none;
    border-bottom-style: none;
}

.border-y-hidden {
    border-top-style: hidden;
    border-bottom-style: hidden;
}

.border-y-groove {
    border-top-style: groove;
    border-bottom-style: groove;
}

.border-y-ridge {
    border-top-style: ridge;
    border-bottom-style: ridge;
}

.border-y-double {
    border-top-style: double;
    border-bottom-style: double;
}

.border-y-dashed {
    border-top-style: dashed;
    border-bottom-style: dashed;
}

.border-y-dotted {
    border-top-style: dotted;
    border-bottom-style: dotted;
}

.border-y-inset {
    border-top-style: inset;
    border-bottom-style: inset;
}

.border-y-outset {
    border-bottom-style: outset;
    border-top-style: outset;
}


.border-y-1 {
    border-top-width: var(--space-1);
    border-bottom: var(--space-1);
}

.border-y-2 {
    border-top-width: var(--space-2);
    border-bottom-width: var(--space-2);
}

.border-y-3 {
    border-bottom-width: var(--space-3);
    border-top-width: var(--space-3);
}

.border-y-4 {
    border-top-width: var(--space-4);
    border-bottom-width: var(--space-4);
}

.border-y-5 {
    border-top-width: var(--space-5);
    border-bottom-width: var(--space-5);
}

.border-y-6 {
    border-top-width: var(--space-6);
    border-bottom-width: var(--space-6);
}

.border-y-7 {
    border-top-width: var(--space-7);
    border-bottom-width: var(--space-7);
}

.border-y-8 {
    border-top-width: var(--space-8);
    border-bottom-width: var(--space-8);
}



.outline-solid {
    outline-style: solid;
}

.outline-dotted {
    outline-style: dotted;
}

.outline-double {
    outline-style: double;
}

.outline-groove {
    outline-style: groove;
}

.outline-ridge {
    outline-style: ridge;
}

.outline-inset {
    outline-style: inset;
}

.outline-outset {
    outline-style: outset;
}

.outline-none {
    outline-style: none;
}

.outline-hidden {
    outline-style: hidden;
}


.outline-thin {
    outline-width: thin;
}

.outline-medium {
    outline-width: medium;
}

.outline-thick {
    outline-width: thick;
}

.outline-w-1 {
    outline-width: var(--space-1);
}

.outline-w-2 {
    outline-width: var(--space-2);
}

.outline-w-3 {
    outline-width: var(--space-3);
}

.outline-w-4 {
    outline-width: var(--space-4);
}

.outline-w-5 {
    outline-width: var(--space-5);
}

.outline-w-6 {
    outline-width: var(--space-6);
}

.outline-w-7 {
    outline-width: var(--space-7);
}

.outline-w-8 {
    outline-width: var(--space-8);
}


.outline-primary {
    outline-color: var(--bg-primary);
}

.outline-primary-50 {
    outline-color: var(--bg-primary-50);
}

.outline-primary-100 {
    outline-color: var(--bg-primary-100);
}

.outline-primary-200 {
    outline-color: var(--bg-primary-200);
}

.outline-primary-300 {
    outline-color: var(--bg-primary-300);
}

.outline-primary-400 {
    outline-color: var(--bg-primary-400);
}

.outline-primary-500 {
    outline-color: var(--bg-primary-500);
}

.outline-primary-600 {
    outline-color: var(--bg-primary-600);
}

.outline-primary-700 {
    outline-color: var(--bg-primary-700);
}

.outline-primary-800 {
    outline-color: var(--bg-primary-800);
}

.outline-primary-900 {
    outline-color: var(--bg-primary-900);
}



.outline-secondary {
    outline-color: var(--bg-secondary);
}

.outline-secondary-100 {
    outline-color: var(--bg-secondary-100);
}

.outline-secondary-200 {
    outline-color: var(--bg-secondary-200);
}

.outline-secondary-200 {
    outline-color: var(--bg-secondary-200);
}

.outline-secondary-300 {
    outline-color: var(--bg-secondary-300);
}

.outline-secondary-400 {
    outline-color: var(--bg-secondary-400);
}

.outline-secondary-500 {
    outline-color: var(--bg-secondary-500);
}

.outline-secondary-600 {
    outline-color: var(--bg-secondary-600);
}

.outline-secondary-700 {
    outline-color: var(--bg-secondary-700);
}

.outline-secondary-800 {
    outline-color: var(--bg-secondary-800);
}

.outline-secondary-900 {
    outline-color: var(--bg-secondary-900);
}


.outline-accent {
    outline-color: var(--bg-accent);
}

.outline-accent-100 {
    outline-color: var(--bg-accent-100);
}

.outline-accent-200 {
    outline-color: var(--bg-accent-200);
}

.outline-accent-300 {
    outline-color: var(--bg-accent-300);
}

.outline-accent-400 {
    outline-color: var(--bg-accent-400);
}

.outline-accent-500 {
    outline-color: var(--bg-accent-500);
}

.outline-accent-600 {
    outline-color: var(--bg-accent-600);
}

.outline-accent-700 {
    outline-color: var(--bg-accent-700);
}

.outline-accent-800 {
    outline-color: var(--bg-accent-800);
}

.outline-accent-900 {
    outline-color: var(--bg-accent-900);
}



.outline-neutral {
    outline-color: var(--bg-neutral);
}

.outline-neutral-50 {
    outline-color: var(--bg-neutral-50);
}

.outline-neutral-100 {
    outline-color: var(--bg-neutral-100);
}

.outline-neutral-200 {
    outline-color: var(--bg-neutral-200);
}

.outline-neutral-300 {
    outline-color: var(--bg-neutral-300);
}

.outline-neutral-400 {
    outline-color: var(--bg-neutral-400);
}

.outline-neutral-500 {
    outline-color: var(--bg-neutral-500);
}

.outline-neutral-600 {
    outline-color: var(--bg-neutral-600);
}

.outline-neutral-700 {
    outline-color: var(--bg-neutral-700);
}

.outline-neutral-800 {
    outline-color: var(--bg-neutral-800);
}

.outline-neutral-900 {
    outline-color: var(--bg-neutral-900);
}

.outline-warning {
    outline-color: var(--warning);
}

.outline-success {
    outline-color: var(--success);
}

.outline-tertiary {
    outline-color: var(--bg-tertiary);
}

.outline-positive {
    outline-offset: 15px;
}

.outline-negative {
    outline-offset: -5px;
}



.static {
    position: static;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}


.top {
    top: 0;
}

.top-percent-1 {
    top: 10%;
}

.top-percent-2 {
    top: 20%;
}

.top-percent-3 {
    top: 30%;
}

.top-percent-4 {
    top: 40%;
}

.top-percent-5 {
    top: 50%;
}

.top-percent-6 {
    top: 60%;
}

.top-percent-7 {
    top: 70%;
}

.top-percent-8 {
    top: 80%;
}

.top-percent-9 {
    top: 90%;
}

.top-full,
.top-percent-full {
    top: 100%;
}


.bottom {
    bottom: 0;
}

.bottom-percent-1 {
    bottom: 10%;
}

.bottom-percent-2 {
    bottom: 20%;
}

.bottom-percent-3 {
    bottom: 30%;
}

.bottom-percent-4 {
    bottom: 40%;
}

.bottom-percent-5 {
    bottom: 50%;
}

.bottom-percent-6 {
    bottom: 60%;
}

.bottom-percent-7 {
    bottom: 70%;
}

.bottom-percent-8 {
    bottom: 80%;
}

.bottom-percent-9 {
    bottom: 90%;
}

.bottom-full,
.bottom-percent-full {
    bottom: 100%;
}


.z-lower {
    z-index: -1;
}

.z-normal,
.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-high {
    z-index: 100;
}

.z-super-high {
    z-index: 1000;
}



.overflow-no {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-no {
    overflow-x: hidden;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-x-auto {
    overflow-x: auto;
}


.overflow-y-no {
    overflow-y: hidden;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.overflow-y-auto {
    overflow-y: auto;
}




.overflow-anchor {
    overflow-anchor: none;
}

.overflow-anchor-auto {
    overflow-anchor: auto;
}

.overflow-anchor-initial {
    overflow-anchor: initial;
}

.overflow-anchor-inherit {
    overflow-anchor: inherit;
}



.scroll-contain {
    overscroll-behavior: contain;
}

.scroll-auto {
    overscroll-behavior: auto;
}

.scroll-none {
    overscroll-behavior: none;
}

.scroll-initial {
    overscroll-behavior: initial;
}

.scroll-inherit {
    overscroll-behavior: inherit;
}


.scroll-behavior-block {
    overscroll-behavior-block: contain;
}


.pointer-no {
    pointer-events: none;
}

.pointer-auto {
    pointer-events: auto;
}

.pointer-initial {
    pointer-events: initial;
}

.pointer-inherit {
    pointer-events: inherit;
}



.see-through {
    opacity: 0.5;
}

.transparent {
    opacity: 0.2;
}

.opacity-normal {
    opacity: 1;
}

.opacity-initial {
    opacity: initial;
}

.opacity-inherit {
    opacity: inherit;
}