.text-xs {
    font-size: var(--text-xs);
}

.text-sm {
    font-size: var(--text-sm);
}

.text-base {
    font-size: var(--text-base);
}

.text-base {
    font-size: var(--text-base);
}

.text-md {
    font-size: var(--text-md);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-xl {
    font-size: var(--text-xl);
}

.text-2xl {
    font-size: var(--text-2xl);
}

.text-3xl {
    font-size: var(--text-3xl);
}

.text-4xl {
    font-size: var(--text-4xl);
}

.text-5xl {
    font-size: var(--text-5xl);
}



.light {
    font-weight: 300;
}

.normal {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}



.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}


.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}

.decoration-none {
    text-decoration: none;
}

.line-through {
    text-decoration: line-through;
}

.overline {
    text-decoration: overline;
}

.double {
    text-decoration: double;
}

.wavy {
    text-decoration: wavy;
}

.dotted {
    text-decoration: dotted;
}

.dashed {
    text-decoration: dashed;
}



.emphasis-filled {
    text-emphasis: filled;
}

.emphasis-open {
    text-emphasis: open;
}

.emphasis-double-circle {
    text-emphasis-style: double-circle;
}

.emphasis-triangle {
    text-emphasis-style: triangle;
}

.emphasis-success {
    text-emphasis-color: var(--bg-success);
}

.emphasis-primary {
    text-emphasis-color: var(--bg-primary);
}

.emphasis-secondary {
    text-emphasis-color: var(--bg-secondary);
}

.emphasis-tertiary {
    text-emphasis-color: var(--bg-tertiary);
}

.emphasis-accent {
    text-emphasis-color: var(--bg-accent);
}

.emphasis-neutral {
    text-emphasis-color: var(--bg-neutral);
}

.emphasis-warning {
    text-emphasis-color: var(--bg-warning);
}


.wrap-normal {
    overflow-wrap: normal;
}

.wrap-anywhere {
    overflow-wrap: anywhere;
}

.wrap-break {
    overflow-wrap: break-word;
}

.wrap-initial {
    overflow-wrap: initial;
}

.wrap-inherit {
    overflow: inherit;
}