
/* Core design system for Anon UI */
:root {
    /* Primary Colors */

    --bg-primary: #8A11FF;

    --bg-primary-50: #F5E8FF;
    --bg-primary-100: #E7C5FF;
    --bg-primary-200: #D299FF;
    --bg-primary-300: #BA6DFF;
    --bg-primary-400: #A142FF;
    --bg-primary-500: #8A11FF;
    --bg-primary-600: #7000D6;
    --bg-primary-700: #5900A8;
    --bg-primary-800: #42007A;
    --bg-primary-900: #2C0050;

    /* Accent Colors */

    --bg-accent: #00C8EA;

    --bg-accent-50: #E0FBFF;
    --bg-accent-100: #B3F3FF;
    --bg-accent-200: #806BFF;
    --bg-accent-300: #4DE3FF;
    --bg-accent-400: #1ADAFF;
    --bg-accent-500: #00C8EA;
    --bg-accent-600: #009DB8;
    --bg-accent-700: #007187;
    --bg-accent-800: #007187;
    --bg-accent-900: #002227;

    /* Secondary Colors */

    --bg-secondary: #1F71FF;

    --bg-secondary-50: #E6F0FF;
    --bg-secondary-100: #C2D8FF;
    --bg-secondary-200: #99BEFF;
    --bg-secondary-300: #70A4FF;
    --bg-secondary-400: #478AFF;
    --bg-secondary-500: #1F71FF;
    --bg-secondary-600: #0056D6;
    --bg-secondary-700: #0042A8;
    --bg-secondary-800: #002E7A;
    --bg-secondary-900: #001A4D;

    /* Neutral Colors */

    --bg-neutral: #42424A;

    --bg-neutral-50: #121212;
    --bg-neutral-100: #18181C;
    --bg-neutral-200: #202024;
    --bg-neutral-300: #2A2A30;
    --bg-neutral-400: #35353C;
    --bg-neutral-500: #42424A;
    --bg-neutral-600: #5A5A63;
    --bg-neutral-700: #7B7B87;
    --bg-neutral-800: #A0A0AC;
    --bg-neutral-900: #D1D1DA;

    --bg-success: #3EFFA8;

    --bg-warning: #FFB84D;

    --text-primary: #D1D1DA;
    --text-secondary: #001A4D;
    --text-tertiary: #2C0050;


    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-7: 1.75rem;
    --space-8: 2rem;
    --space-9: 2.25rem;
    --space-10: 2.5rem;
    --space-11: 2.75rem;
    --space-12: 3rem;
    --space-16: 4rem;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-md: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 3rem;
    --text-3xl: 4.5rem;
    --text-4xl: 6rem;
    --text-5xl: 7.5rem;

    --radius-sm: 0.625rem;
    --radius-md: 1rem;
    --radius-lg: 1.25rem;
    --radius-xl: 1.875rem;
    --radius-full: 100%;
    --rounded: 50%;

    --screen-sm: 425px;
    --screen-md: 768px;
    --screen-lg: 1024px;
    --screen-xl: 1440px;
}

.light {
    --bg-primary: #FFFFFF;
    --bg-secondary: #F5F5F5;
    --bg-tertiary: #E5E5E5;

    --text-primary: #8a8a8a;
    --text-secondary: #484848;
    --text-tertiary: #737373;
}